{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/project.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    .project_info_img{
        background-image: url("{% static 'img/Churn_shap.png' %}");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        height: 80%;
        width: 50%;
    }
    .project_info_img2{
        background-image: url("{% static 'img/Churn_hist.png' %}");
        width: 50%;
        height: 40vh;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }
        </style>
    <title>Churn dataset exploration</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="/Krzysztof.Wrobel/KW">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/Krzysztof.Wrobel/KW#projects">Projects</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/Krzysztof.Wrobel/KW#tech">Tech Stack</a>
                </li>
              </ul>   
                <a href="/Krzysztof.Wrobel/KW#contact"><button class="btn btn-lg">Contact</button></a>
            </div>
          </div>
        </nav>
    </header>


    <div class="project_info">
        <a href="https://github.com/CarJung/Churn_exploration" target="_blank" rel="noopener noreferrer"><h2>Churn exploration<i class="fa fa-github" aria-hidden="true"></i></h2></a>
        <div class="project_info_desc">
            <div class="project_info_img"></div>
            <div class="about_project">
            <h2>About Project</h2>
            <p>
                The goal of this project was to explore the Churn dataset and build a model that classify which customer will churn.
            </p>
            </div>
        </div>
        <div class="project_info_img2"></div>
        <div class="tech_used">
            <h2>Technology used</h2>
          <div class="tech_used_items">
            <figure><img src="{% static 'img/python-logo.png' %}" alt="python"></figure>
            <figure><img src="{% static 'img/pandas.png' %}" alt="pandas"></figure>
            <figure><img src="{% static 'img/numpy.png' %}" alt="numpy"></figure>
            <figure><img src="{% static 'img/scikitpng.png' %}" alt="scikitpng"></figure>
            <figure><img src="{% static 'img/matplotlib.svg' %}" alt="matplotlib"></figure>
            <figure><img src="{% static 'img/seaborn.svg' %}" alt="seaborn"></figure>
            <figure><img src="{% static 'img/shap_logo.png' %}" alt="shap"></figure>
            <figure><img src="{% static 'img/pycaret.png' %}" alt="pycaret"></figure>
          </div>
        </div>
     </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>