{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Krzysztof Wróbel</title>
</head>

<body>
    
</body>

<p1>
  This is a case study made for Data Scientist Associate certification. The goal of this project was to analyze the dataset of gym clients and point out factors that contribute to higher participation on classes. Beside that i have made a model that would predict the participation on classes. The model was made using Scikit learn. The results were visualized using Matplotlib.
</p1>


</html>