{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Krzysztof Wróbel</title>
</head>

<body>
    
</body>
<p1>
The goal of this project was to create a model that would predict the onset of diabetes based on behavioral markers. The data was made Behavioral Risk Factor Surveillance System. The data was cleaned and analyzed. The analysis was done using Python and Pandas. I made a hyperparameter tuning using Scikit learn and compare Neural Networks with different number of layers and different number of neurons in each layer. The results were visualized using Matplotlib and Seaborn.
</p1>

</html>