{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Krzysztof Wróbel</title>
</head>
<body>
    <header>
        <nav>
            
                <ul class="nav_links">
                    <li>
                        <a href="#card_deck">Projects</a>
                    </li>
                    <li>
                        <a href="#tech">Tech Stack</a>
                    </li>
                    <li>
                        <a href="CV/">CV</a>
                    </li>
                </ul>
        </nav>
        <a class="cta" href="#contact"><button>Contact</button></a>
    </header>
    
    <main>
        <div class="hero">
            <div class="text">
                <h2>Krzysztof Wróbel</h2>
                <p>Hi this is my porfolio webpage. I’m a currently a student majoring in Psychology and Computer Science, 
                    looking forward to gain new experience and put my knowledge in to practice. 
                    My main area of interest is broadly defined artificial intelligence. I would like to make a career out of it. 
                    Here you can find some of my projects and my CV. I’m also open to any job offers. Feel free to contact me.</p>
                <span class="arrow">&#8595;</span>
            </div>
        </div>
        <div class="tech">
            <h2>Tech Stack</h2>
            <div class="tech_items">
            <figure><img src="{% static 'img/python-logo.png' %}" alt="python"></figure>
            <figure><img src="{% static 'img/numpy.png' %}" alt="numpy"></figure>
            <figure><img src="{% static 'img/pandas.png' %}" alt="pandas"></figure>
            <figure><img src="{% static 'img/scikitpng.png' %}" alt="scikitpng"></figure>
            <figure><img src="{% static 'img/tensor.png' %}" alt="tensor"></figure>
            <figure><img src="{% static 'img/MySQL-Logo.png' %}" alt="MySQL"></figure>
            <figure><img src="{% static 'img/PowerBI.png' %}" alt="PowerBI"></figure>
            <figure><img src="{% static 'img/excel.png' %}" alt="excel"></figure>
            <figure><img src="{% static 'img/azur.png' %}" alt="azur"></figure>
            <figure><img src="{% static 'img/matplotlib.svg' %}" alt="matplotlib"></figure>
            <figure><img src="{% static 'img/seaborn.svg' %}" alt="seaborn"></figure>
        </div>
        </div>
        <div class="card_section">
        <h2>Projects</h2>
        <div class="card_deck">
        <div class="card">
            <img src="{% static 'img/flats_model.png' %}" alt="Avatar">
            <div class="container">
              <h4><b>Warsaw housing market analysis</b></h4>
              <a href="Estates/"><button>Show More</button></a>
            </div>
          </div>
          <div class="card">
            <img src="{% static 'img/data_camp_boxplot.png' %}" alt="Avatar">
            <div class="container">
              <h4><b>Data Scientist Associate Case Study Data Camp</b></h4>
              <a href="Data_camp/"><button>Show More</button></a>
            </div>
          </div>
          <div class="card">
            <img src="{% static 'img/stat_testing.png' %}" alt="Avatar">
            <div class="container">
              <h4><b>Statistical tests streamlit app</b></h4>
              <a href="Stat_app/"><button>Show More</button></a>
            </div>
          </div>
          <div class="card">
            <img src="{% static 'img/roc lr.png' %}" alt="Avatar">
            <div class="container">
              <h4><b>Behavioral markers diabetes model</b></h4>
                <a href="Diabetes/"><button>Show More</button></a>
            </div>
          </div>
        </div>
        </div>
        <div class="contact">
            <h2>Contact</h2>
            <ul class="contact_list">
                <li><a href="mailto:wrob.kw@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                <li><a href="https://github.com/CarJung"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/in/krzysztof-wr%C3%B3bel-a11188224"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </main>
    
</body>
</html>