{% load static %}
<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">
<head>
  <style>
    .about_img{
        background-image: url("{% static 'img/problem.jpg' %}");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 100%;
        width: 50%;
    }
    
   .custom-toggler.navbar-toggler {
            border-color: #FF6A3D;
        }
      

    .navbar-toggler-icon.custom-toggler{
        background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 106, 61, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    

    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Krzysztof Wróbel</title>
</head>
<body>
    <header>
      <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
          <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/Krzysztof.Wrobel/KW#hero">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Krzysztof.Wrobel/KW#projects">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Krzysztof.Wrobel/KW#tech">Tech Stack</a>
              </li>
            </ul>   
              <a href="/Krzysztof.Wrobel/KW#contact"><button class="btn btn-lg">Contact</button></a>
          </div>
        </div>
      </nav>
    </header>
    
    <main>
      <div class="hero" id="hero">
          <div class="text">
            <div class="text_welcome"><span>Hi</span> <i class="fa fa-heart" aria-hidden="true" ></i></div>
              <h2>Welcome to my porfolio webpage. </h2>
              <h2>I'm <span class="span_name">Krzysztof Wróbel</span></h2>
              <span class="arrow">&#8595;</span>
          </div>
      </div>
      <div class="about">
        <div class="about_text">
          <h2>About Me</h2>
          <p>I’m a currently a student majoring in Psychology and Computer Science, 
          looking forward to gain new experience and put my knowledge in to practice. 
          My main area of interest is broadly defined artificial intelligence. I would like to make a career out of it. 
          Here you can find some of my projects and my CV. I’m also open to any job offers. Feel free to contact me.</p>
        </div>
        <div class="about_img"></div>
          <!-- <figure><img src="{% static 'img/szabo-viktor-vE1As8YoJRs-unsplash.jpg' %}" alt="raz"></figure> -->
      </div>
      <div class="tech" id="tech">
            <h2>Tech Stack</h2>
          <div class="tech_items">
            <figure><img src="{% static 'img/python-logo.png' %}" alt="python"></figure>
            <figure><img src="{% static 'img/numpy.png' %}" alt="numpy"></figure>
            <figure><img src="{% static 'img/pandas.png' %}" alt="pandas"></figure>
            <figure><img src="{% static 'img/scikitpng.png' %}" alt="scikitpng"></figure>
            <figure><img src="{% static 'img/tensor.png' %}" alt="tensor"></figure>
            <figure><img src="{% static 'img/MySQL-Logo.png' %}" alt="MySQL"></figure>
            <figure><img src="{% static 'img/PowerBI.png' %}" alt="PowerBI"></figure>
            <figure><img src="{% static 'img/excel.png' %}" alt="excel"></figure>
            <figure><img src="{% static 'img/azur.png' %}" alt="azur"></figure>
            <figure><img src="{% static 'img/matplotlib.svg' %}" alt="matplotlib"></figure>
            <figure><img src="{% static 'img/seaborn.svg' %}" alt="seaborn"></figure>
            <figure><img src="{% static 'img/pobrany plik.png' %}" alt="seaborn"></figure>
            <figure><img src="{% static 'img/pingouin.png' %}" alt="matplotlib"></figure>
            <figure><img src="{% static 'img/68747470733a2f2f63646e2e7261776769742e636f6d2f70796d632d646576732f70796d632f6d61696e2f646f63732f6c6f676f732f7376672f50794d435f62616e6e65722e737667.svg' %}" alt="seaborn"></figure>
            <figure><img src="{% static 'img/statsmodels-logo-v2.svg' %}" alt="seaborn"></figure>
            <figure><img src="{% static 'img/dalex.png' %}" alt="matplotlib"></figure>
            <figure><img src="{% static 'img/shap_logo.png' %}" alt="seaborn"></figure>
        </div>
      </div>
        <div class="card_section" id="projects">
        <h2>Projects</h2>
        <h3>This is my portfolio projects!</h3>        
        <div class="card_deck">
          <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 g-4">
            <div class="col">
              <div class ='card'>
            <img src="{% static 'img/flats_model.png' %}" class="card-img-top" alt="Avatar">
            <div class="card-body">
              <p class="card-text">Warsaw housing market analysis</p>
              <a href="Estates/"><button class="btn btn-sm">Show More</button></a>
            </div>
            </div>
          </div>
          <div class="col">
            <div class ='card'>
            <img src="{% static 'img/data_camp_boxplot.png' %}" class="card-img-top" alt="Avatar">
            <div class="card-body">
              <p class="'card=text"> Data Scientist Associate Case Study Data Camp</p>
              <a href="Data_camp/"><button class="btn btn-sm">Show More</button></a>
            </div>
          </div>
          </div>
          <div class="col">
            <div class ='card'>
            <img src="{% static 'img/stat_testing.png' %}" class="card-img-top" alt="Avatar">
            <div class="card-body">
              <p class="card-text">Statistical tests streamlit app</p>
              <a href="Stat_app/"><button class="btn btn-sm">Show More</button></a>
            </div>
          </div>
        </div>
          <div class="col">
            <div class ='card'>
            <img src="{% static 'img/roc lr.png' %}" class="card-img-top" alt="Avatar">
            <div class="card-body">
              <p class="card-text">Behavioral markers diabetes model</p>
                <a href="Diabetes/"><button class="btn btn-sm">Show More</button></a>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="show-more"><a href="Projects/"><button class="btn btn-lg show-btn">More Projects</button></a></div>
    </main>
    <footer>
      <div class="contact" id = 'contact'>
        <h2>Contact</h2>
        <ul class="contact_list">
            <li><a href="mailto:wrob.kw@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
            <li><a href="https://github.com/CarJung"><i class="fa fa-github" aria-hidden="true"></i></a></li>
            <li><a href="https://www.linkedin.com/in/krzysztof-wr%C3%B3bel-a11188224"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
        </ul>
    </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>
