{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/project.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .project_info_img{
            background-image: url("{% static 'img/datacamp_feature_imporatance.png' %}");
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            height: 80%;
            width: 50%;
    }
    
        .project_info_img2{
            background-image: url("{% static 'img/matrix.png' %}");
            width: 50%;
            height: 40vh;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
        }
            </style>
    <title>Seizure classifcation Neural Network</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="/Krzysztof.Wrobel/KW">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/Krzysztof.Wrobel/KW#projects">Projects</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/Krzysztof.Wrobel/KW#tech">Tech Stack</a>
                </li>
              </ul>   
                <a href="/Krzysztof.Wrobel/KW#contact"><button class="btn btn-lg">Contact</button></a>
            </div>
          </div>
        </nav>
    </header>

    <div class="project_info">
        <a href="https://github.com/CarJung/Uni/blob/main/Seizure_LSTM.ipynb" target="_blank" rel="noopener noreferrer"><h2>Seizure classifcation Neural Network<i class="fa fa-github" aria-hidden="true"></i></h2></a>
        <div class="project_info_desc">
            <div class="project_info_img"></div>
            <div class="about_project">
            <h2>About Project</h2>
            <p>Dataset was created using EEG measurment of 178 patients. 
              The goal of this project was to create a model that would classify the measurments. Model is using LSTM architecture.
            </p>
            </div>
        </div>
        <div class="project_info_img2"></div>
        <div class="tech_used">
            <h2>Technology used</h2>
          <div class="tech_used_items">
            <figure><img src="{% static 'img/python-logo.png' %}" alt="python"></figure>
            <figure><img src="{% static 'img/pandas.png' %}" alt="pandas"></figure>
            <figure><img src="{% static 'img/numpy.png' %}" alt="numpy"></figure>
            <figure><img src="{% static 'img/tensor.png' %}" alt="tensor"></figure>
            <figure><img src="{% static 'img/matplotlib.svg' %}" alt="matplotlib"></figure>
            <figure><img src="{% static 'img/seaborn.svg' %}" alt="seaborn"></figure>
          </div>
        </div>
     </div>

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>